*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}


a{
  text-decoration: none;
  color: inherit;
}

li{
  list-style: none;
}

ul{
  margin: 0;
}

img{
  width: 100%;
  height: auto;
}

:root {
  --primary: #dc834e;
  --primary-hover: #c36b36;
  --accent: #000000;
  --text: #666666;
  --border: #e5e5e5;
}
