.container {
  padding: 2rem;
  background: var(--bg);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  max-width: 500px;
  width: 100%;
  margin: auto;
  padding: 40px;
  background-color: var(--card-bg);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.form {
  display: flex;
  flex-direction: column;
}

h3 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--text);
  font-weight: 800;
}

.formGroup {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
}

.input {
  width: 100%;
  padding: 10px;
  background-color: var(--input-bg);
  border: 1px solid var(--border);
  border-radius: 5px;
  font-size: 16px;
  color: var(--text);
}

.input:focus {
  outline: none;
  border-color: var(--primary);
}

.button {
  padding: 12px;
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: var(--primary-hover);
}
